<div class="w-full h-screen flex justify-center items-center bg-gray-300">
  <div class="calculator">
    <div class="calculator__output" [innerText]="output"></div>
    <div class="calculator__keys">
      <button class="calculator__key calculator__key--operator" (click)="handleButtonClick('+')">+</button>
      <button class="calculator__key calculator__key--operator" (click)="handleButtonClick('-')">-</button>
      <button class="calculator__key calculator__key--operator" (click)="handleButtonClick('×')">&times;</button>
      <button class="calculator__key calculator__key--operator" (click)="handleButtonClick('÷')">÷</button>
      <button class="calculator__key" (click)="handleButtonClick('7')">7</button>
      <button class="calculator__key" (click)="handleButtonClick('8')">8</button>
      <button class="calculator__key" (click)="handleButtonClick('9')">9</button>
      <button class="calculator__key" (click)="handleButtonClick('4')">4</button>
      <button class="calculator__key" (click)="handleButtonClick('5')">5</button>
      <button class="calculator__key" (click)="handleButtonClick('6')">6</button>
      <button class="calculator__key" (click)="handleButtonClick('1')">1</button>
      <button class="calculator__key" (click)="handleButtonClick('2')">2</button>
      <button class="calculator__key" (click)="handleButtonClick('3')">3</button>
      <button class="calculator__key" (click)="handleButtonClick('0')">0</button>
      <button class="calculator__key" (click)="handleButtonClick('.')">.</button>
      <button class="calculator__key" (click)="handleButtonClick('AC')">AC</button>
      <button class="calculator__key calculator__key--enter" (click)="handleButtonClick('=')">=</button>
    </div>
  </div>
</div>